@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#222c31, #111d32);
  color: #d9e2f1;
  min-height: 100vh;
}

.app-header {
  background-color: #111d32;
  padding: 32px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 24px;
}

.app-title:hover {
  color: rgb(232, 92, 115);
  text-shadow: whitesmoke;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav p {
  margin: 0 18px;
  font-size: 16px;
  cursor: pointer;
}

nav p:hover {
  color: lightcoral;
}

button {
  padding: 10px 20px;
  font-size: 11px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lightskyblue;
}

@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 11px;
    display: flex;
    align-items: baseline;
  }

  .app-title {
    margin-bottom: 10px;
  }

  nav p {
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  button {
    margin-top: 10px;
  }
}

.app-footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  background-color: #424d58;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.footer-content nav a {
  margin: 0 10px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.footer-content nav a:hover {
  text-decoration: underline;
}

.app-intro {
  margin-bottom: 30px;
}

.carousel-root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.carousel .slide {
  background-color: linear-gradient(#222c31, #111d32);
  padding: 20px;
  text-align: center;
}

.carousel .slide h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel .slide p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 600px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-input {
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

.search-button {
  padding: 7px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .search-input {
    width: 150px;
  }

  .search-button {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 120px;
    font-size: 14px;
  }

  .search-button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.modal {
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 10vh;
  left: calc(50% - 15rem);
  width: 35rem;
  max-height: 80vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.button-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.cancel-button {
  margin-top: 10px;
}

.modal-btn {
  padding: 10px 20px;
  font-size: 11px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.modal-cancel-btn {
  padding: 10px 57px;
  font-size: 11px;
  background-color: lightcoral;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.modal-cancel-btn:hover {
  background-color: #d47777;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}

.registration-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0px;
  color: #999;
}

.close-button:hover {
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filter-sort-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter,
.sort {
  flex: 1;
  margin-right: 10px;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.item {
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(-3px);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);

}

.item img {
  width: 100%;
  border-radius: 5px;
}

.item-details h2 {
  margin-top: 0;
}

.loading,
.error,
.no-data {
  margin-top: 20px;
}

.nearby_btn {
  background-color: lightskyblue;
  margin-left: 30px;
  padding: 8px;
}

.nearby_btn:hover {
  background-color: lightblue;
}

.sortbyprice {
  margin-left: 10px;
  height: 27px;
  border-radius: 5px;
  padding-top: 2px;
}

.price_sort {
  margin-left: 10px;
}


.terms-container {
  max-width: 1000px;
  max-height: 400px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
}

.terms-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.terms-text {
  font-size: 16px;
  line-height: 1.5;
}

.terms-list {
  margin-top: 10px;
}

.terms-list-item {
  margin-bottom: 10px;
}

.terms-link {
  color: blue;
  text-decoration: underline;
}

.agreebtn {
  background-color: lightblue;
  font-weight: bolder;
}


.agreebtn:hover {
  background-color: lightskyblue;
}

.contact-us {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.footerLinks {
  cursor: pointer;
  margin-right: 10px;
}

.view-detail-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.view-detail-btn:hover {
  background-color: #0056b3;
}



.item-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.item-detail-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.item-detail-container button:hover {
  background-color: #0056b3;
}

.item-detail-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.item-detail-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.item-detail-container .item-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.item-detail-container .item-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-detail-container .item-details p {
  margin-bottom: 10px;
}

.property-form {
  margin: 0;
  padding: 20px;
  overflow-y: auto;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="file"] {
  border: none;
}

.form-group input[type="file"]:focus {
  outline: none;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}


.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.user-profile h2 {
  color: #333;
  margin: 5px 0;
}

.add-property-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.add-property-button:hover {
  background-color: #45a049;
}

.pagination {
  margin: 5px;
}

.pagiBtn {
  padding: 9px 14px;
  font-size: 11px;
  background-color: #7d94ac;
  color: black;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

.pagiSpan {
  margin: 10px;
}